In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
nfl_frame = pd.read_clipboard()

In [3]:
nfl_frame

,,,,,,,Best,win–loss,record,in,division
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
1,Dallas,Cowboys,502,374,6,.573,1960,882,NFC,East,NaN
2,Green,Bay,Packers,737,562,37,.565,1921,"1,336",NFC,North
3,Chicago,Bears,749,579,42,.562,1920,"1,370",NFC,North,NaN
4,Miami,Dolphins,445,351,4,.559,1966,800,AFC,East,NaN
5,New,England,Patriots[b],489,386,9,.558,1960,884,AFC,East
6,Minnesota,Vikings,470,390,10,.546,1961,870,NFC,North,NaN
7,Baltimore,Ravens,190,161,1,.541,1996,352,AFC,North,NaN
8,New,York,Giants,687,585,33,.539,1925,"1,305",NFC,East
9,Denver,Broncos,470,404,10,.537,1960,884,AFC,West,NaN
10,San,Francisco,49ers,528,460,14,.534,1950,"1,002",NFC,West
11,Pittsburgh,Steelers,614,538,20,.532,1933,"1,172",AFC,North,NaN
12,Oakland,Raiders,462,411,11,.529,1960,884,AFC,West,NaN
13,Indianapolis,Colts[c],506,453,7,.527,1953,966,AFC,South,NaN

In [4]:
nfl_frame.columns

Index(['Best', 'win–loss', 'record', 'in', 'division'], dtype='object')

In [5]:
nfl_frame['Best']

Rank  Team          Won        Lost         Tied  Pct.  First     NFL
1     Dallas        Cowboys    502          374   6     .573     1960
2     Green         Bay        Packers      737   562   37       .565
3     Chicago       Bears      749          579   42    .562     1920
4     Miami         Dolphins   445          351   4     .559     1966
5     New           England    Patriots[b]  489   386   9        .558
6     Minnesota     Vikings    470          390   10    .546     1961
7     Baltimore     Ravens     190          161   1     .541     1996
8     New           York       Giants       687   585   33       .539
9     Denver        Broncos    470          404   10    .537     1960
10    San           Francisco  49ers        528   460   14       .534
11    Pittsburgh    Steelers   614          538   20    .532     1933
12    Oakland       Raiders    462          411   11    .529     1960
13    Indianapolis  Colts[c]   506          453   7     .527     1953
Name: Best, dtype: object

In [6]:
nfl_frame.Best

Rank  Team          Won        Lost         Tied  Pct.  First     NFL
1     Dallas        Cowboys    502          374   6     .573     1960
2     Green         Bay        Packers      737   562   37       .565
3     Chicago       Bears      749          579   42    .562     1920
4     Miami         Dolphins   445          351   4     .559     1966
5     New           England    Patriots[b]  489   386   9        .558
6     Minnesota     Vikings    470          390   10    .546     1961
7     Baltimore     Ravens     190          161   1     .541     1996
8     New           York       Giants       687   585   33       .539
9     Denver        Broncos    470          404   10    .537     1960
10    San           Francisco  49ers        528   460   14       .534
11    Pittsburgh    Steelers   614          538   20    .532     1933
12    Oakland       Raiders    462          411   11    .529     1960
13    Indianapolis  Colts[c]   506          453   7     .527     1953
Name: Best, dtype: object

In [8]:
nfl_frame[['Best','record']]

                                                         Best record
Rank Team         Won       Lost        Tied Pct. First   NFL  Total
1    Dallas       Cowboys   502         374  6    .573   1960    NFC
2    Green        Bay       Packers     737  562  37     .565  1,336
3    Chicago      Bears     749         579  42   .562   1920    NFC
4    Miami        Dolphins  445         351  4    .559   1966    AFC
5    New          England   Patriots[b] 489  386  9      .558    884
6    Minnesota    Vikings   470         390  10   .546   1961    NFC
7    Baltimore    Ravens    190         161  1    .541   1996    AFC
8    New          York      Giants      687  585  33     .539  1,305
9    Denver       Broncos   470         404  10   .537   1960    AFC
10   San          Francisco 49ers       528  460  14     .534  1,002
11   Pittsburgh   Steelers  614         538  20   .532   1933    AFC
12   Oakland      Raiders   462         411  11   .529   1960    AFC
13   Indianapolis Colts[c]  506         453  7    .527   1953    AFC

In [10]:
DataFrame(nfl_frame, columns= ['record', 'in'])

                                                        record     in
Rank Team         Won       Lost        Tied Pct. First  Total  Games
1    Dallas       Cowboys   502         374  6    .573     NFC   East
2    Green        Bay       Packers     737  562  37     1,336    NFC
3    Chicago      Bears     749         579  42   .562     NFC  North
4    Miami        Dolphins  445         351  4    .559     AFC   East
5    New          England   Patriots[b] 489  386  9        884    AFC
6    Minnesota    Vikings   470         390  10   .546     NFC  North
7    Baltimore    Ravens    190         161  1    .541     AFC  North
8    New          York      Giants      687  585  33     1,305    NFC
9    Denver       Broncos   470         404  10   .537     AFC   West
10   San          Francisco 49ers       528  460  14     1,002    NFC
11   Pittsburgh   Steelers  614         538  20   .532     AFC  North
12   Oakland      Raiders   462         411  11   .529     AFC   West
13   Indianapolis Colts[c]  506         453  7    .527     AFC  South

In [11]:
DataFrame(nfl_frame, columns= ['record', 'in', 'text'])

                                                        record     in  text
Rank Team         Won       Lost        Tied Pct. First  Total  Games   NaN
1    Dallas       Cowboys   502         374  6    .573     NFC   East   NaN
2    Green        Bay       Packers     737  562  37     1,336    NFC   NaN
3    Chicago      Bears     749         579  42   .562     NFC  North   NaN
4    Miami        Dolphins  445         351  4    .559     AFC   East   NaN
5    New          England   Patriots[b] 489  386  9        884    AFC   NaN
6    Minnesota    Vikings   470         390  10   .546     NFC  North   NaN
7    Baltimore    Ravens    190         161  1    .541     AFC  North   NaN
8    New          York      Giants      687  585  33     1,305    NFC   NaN
9    Denver       Broncos   470         404  10   .537     AFC   West   NaN
10   San          Francisco 49ers       528  460  14     1,002    NFC   NaN
11   Pittsburgh   Steelers  614         538  20   .532     AFC  North   NaN
12   Oakland      Raiders   462         411  11   .529     AFC   West   NaN
13   Indianapolis Colts[c]  506         453  7    .527     AFC  South   NaN

In [12]:
nfl_frame.head()

,,,,,,,Best,win–loss,record,in,division
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
1,Dallas,Cowboys,502,374,6,.573,1960,882,NFC,East,NaN
2,Green,Bay,Packers,737,562,37,.565,1921,"1,336",NFC,North
3,Chicago,Bears,749,579,42,.562,1920,"1,370",NFC,North,NaN
4,Miami,Dolphins,445,351,4,.559,1966,800,AFC,East,NaN

In [14]:
nfl_frame.head(3)

,,,,,,,Best,win–loss,record,in,division
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
1,Dallas,Cowboys,502,374,6,.573,1960,882,NFC,East,NaN
2,Green,Bay,Packers,737,562,37,.565,1921,"1,336",NFC,North

In [15]:
nfl_frame.tail(3)

                                          Best win–loss record     in division
11 Pittsburgh   Steelers 614 538 20 .532  1933    1,172    AFC  North      NaN
12 Oakland      Raiders  462 411 11 .529  1960      884    AFC   West      NaN
13 Indianapolis Colts[c] 506 453 7  .527  1953      966    AFC  South      NaN

In [18]:
nfl_frame.ix[3]

Best         1920
win–loss    1,370
record        NFC
in          North
division      NaN
Name: (3, Chicago, Bears, 749, 579, 42, .562), dtype: object

In [19]:
nfl_frame['record'] = 'text'

In [20]:
nfl_frame

,,,,,,,Best,win–loss,record,in,division
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,text,Games,Division
1,Dallas,Cowboys,502,374,6,.573,1960,882,text,East,NaN
2,Green,Bay,Packers,737,562,37,.565,1921,text,NFC,North
3,Chicago,Bears,749,579,42,.562,1920,"1,370",text,North,NaN
4,Miami,Dolphins,445,351,4,.559,1966,800,text,East,NaN
5,New,England,Patriots[b],489,386,9,.558,1960,text,AFC,East
6,Minnesota,Vikings,470,390,10,.546,1961,870,text,North,NaN
7,Baltimore,Ravens,190,161,1,.541,1996,352,text,North,NaN
8,New,York,Giants,687,585,33,.539,1925,text,NFC,East
9,Denver,Broncos,470,404,10,.537,1960,884,text,West,NaN
10,San,Francisco,49ers,528,460,14,.534,1950,text,NFC,West
11,Pittsburgh,Steelers,614,538,20,.532,1933,"1,172",text,North,NaN
12,Oakland,Raiders,462,411,11,.529,1960,884,text,West,NaN
13,Indianapolis,Colts[c],506,453,7,.527,1953,966,text,South,NaN

In [21]:
nfl_frame['records'] = 'test2'

In [22]:
nfl_frame

,,,,,,,Best,win–loss,record,in,division,records
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,text,Games,Division,test2
1,Dallas,Cowboys,502,374,6,.573,1960,882,text,East,NaN,test2
2,Green,Bay,Packers,737,562,37,.565,1921,text,NFC,North,test2
3,Chicago,Bears,749,579,42,.562,1920,"1,370",text,North,NaN,test2
4,Miami,Dolphins,445,351,4,.559,1966,800,text,East,NaN,test2
5,New,England,Patriots[b],489,386,9,.558,1960,text,AFC,East,test2
6,Minnesota,Vikings,470,390,10,.546,1961,870,text,North,NaN,test2
7,Baltimore,Ravens,190,161,1,.541,1996,352,text,North,NaN,test2
8,New,York,Giants,687,585,33,.539,1925,text,NFC,East,test2
9,Denver,Broncos,470,404,10,.537,1960,884,text,West,NaN,test2
10,San,Francisco,49ers,528,460,14,.534,1950,text,NFC,West,test2
11,Pittsburgh,Steelers,614,538,20,.532,1933,"1,172",text,North,NaN,test2
12,Oakland,Raiders,462,411,11,.529,1960,884,text,West,NaN,test2
13,Indianapolis,Colts[c],506,453,7,.527,1953,966,text,South,NaN,test2

In [32]:
nfl_frame['records'] = 'test'

In [33]:
nfl_frame

,,,,,,,Best,win–loss,record,in,division,records
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,text,Games,Division,test
1,Dallas,Cowboys,502,374,6,.573,1960,882,text,East,NaN,test
2,Green,Bay,Packers,737,562,37,.565,1921,text,NFC,North,test
3,Chicago,Bears,749,579,42,.562,1920,"1,370",text,North,NaN,test
4,Miami,Dolphins,445,351,4,.559,1966,800,text,East,NaN,test
5,New,England,Patriots[b],489,386,9,.558,1960,text,AFC,East,test
6,Minnesota,Vikings,470,390,10,.546,1961,870,text,North,NaN,test
7,Baltimore,Ravens,190,161,1,.541,1996,352,text,North,NaN,test
8,New,York,Giants,687,585,33,.539,1925,text,NFC,East,test
9,Denver,Broncos,470,404,10,.537,1960,884,text,West,NaN,test
10,San,Francisco,49ers,528,460,14,.534,1950,text,NFC,West,test
11,Pittsburgh,Steelers,614,538,20,.532,1933,"1,172",text,North,NaN,test
12,Oakland,Raiders,462,411,11,.529,1960,884,text,West,NaN,test
13,Indianapolis,Colts[c],506,453,7,.527,1953,966,text,South,NaN,test

In [34]:
nfl_frame['records'] = np.arange(12)

ValueError: Length of values does not match length of index

In [35]:
del nfl_frame['records']

In [36]:
nfl_frame

,,,,,,,Best,win–loss,record,in,division
Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,text,Games,Division
1,Dallas,Cowboys,502,374,6,.573,1960,882,text,East,NaN
2,Green,Bay,Packers,737,562,37,.565,1921,text,NFC,North
3,Chicago,Bears,749,579,42,.562,1920,"1,370",text,North,NaN
4,Miami,Dolphins,445,351,4,.559,1966,800,text,East,NaN
5,New,England,Patriots[b],489,386,9,.558,1960,text,AFC,East
6,Minnesota,Vikings,470,390,10,.546,1961,870,text,North,NaN
7,Baltimore,Ravens,190,161,1,.541,1996,352,text,North,NaN
8,New,York,Giants,687,585,33,.539,1925,text,NFC,East
9,Denver,Broncos,470,404,10,.537,1960,884,text,West,NaN
10,San,Francisco,49ers,528,460,14,.534,1950,text,NFC,West
11,Pittsburgh,Steelers,614,538,20,.532,1933,"1,172",text,North,NaN
12,Oakland,Raiders,462,411,11,.529,1960,884,text,West,NaN
13,Indianapolis,Colts[c],506,453,7,.527,1953,966,text,South,NaN

In [37]:
data = {'City':['SF','LA','NYC'], 'Population':[837000,3880000,8400000]}

In [38]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [39]:
city_frame = DataFrame(data)

In [40]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000